@import "../../assets/scss/variables.scss";

.top-navbar {
  max-width: 1264px;
  height: 58px;
  position: fixed;
  left: 0;
  right: 0;
  top: 24px;
  max-width: 1264px;
  padding: 0 24px;
  border-radius: 16px;
  backdrop-filter: blur(16px);
  background: rgba(250, 250, 250, 0.5);
  border: 1px solid $grey;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
  }

  .menu-bar {
    ul {
      display: flex;
      gap: 32px;

      li {
        list-style: none;

        a {
          color: $default;
          text-decoration: none;
          font-weight: 500;
        }
      }
    }
  }

  .member-area {
    display: flex;
    gap: 8px;
  }
}
