@import "../../assets/scss/variables.scss";

.btn {
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 14px;
  text-align: center;
  transition-duration: 0.2s;
  text-transform: none;
  text-decoration: none;

  &.md {
    font-size: 16px;
    padding: 6px 28px;
    border-radius: 12px;
  }

  &.button-primary {
    background: linear-gradient(
      135deg,
      $blue3,
      $purple3 23.95%,
      $blue4 60.11%,
      $purple4
    );
    border: 1px solid $hasla;
    color: $white;

    &:hover {
      background: linear-gradient(
        135deg,
        $blue3,
        $blue5 23.95%,
        $blue4 60.11%,
        $blue5
      );
      border: 1px solid $hasla;
      color: $white !important;
    }
  }

  &.button-primary-outlined {
    padding: 6px 16px;
    border-radius: 8px;
    background: $grey-4;
    border: 2px solid $purple;
    color: $purple;
    font-size: 13px;
  }

  &.button-grey {
    background-color: $grey-8;
    border: 1px solid $grey-9;
    color: $grey-10;
  }
}
