@import "../../assets/scss/variables.scss";

.page-title {
  max-width: 691px;
  margin: 32px auto;
  text-align: center;

  @media only screen and (max-width: 767px) {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }

  h1 {
    color: $dark;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    margin-bottom: 32px;

    @media only screen and (max-width: 767px) {
      font-size: 40px;
      max-width: 343px;
    }
  }

  p {
    color: $grey-2;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}
