.page-title {
  max-width: 691px;
  margin: 32px auto;

  h1 {
    color: rgb(34, 34, 34);
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    margin-bottom: 32px;
  }

  p {
    color: rgb(82, 82, 82);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}
