@import "../../assets/scss/variables.scss";

.card {
  border: 1px solid $grey-3;
  border-radius: 6px;

  .card-img {
    background-color: $dark-2;
    border-bottom: 1px solid $grey-3;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }

  .card-body {
    padding: 8px 26px 24px;
    h4 {
      font-size: 16px;
      color: $dark;
      font-weight: 600;
      margin-bottom: 8px;
    }
    p {
      font-size: 12px;
      color: $grey-2;
    }
  }
}
