.features-block-wrapper {
  height: 447px;
  background-image: url(../../assets/images/laptop-landing-3.png);
  background-repeat: no-repeat;
  border-radius: 28px;
  background-size: cover;
}

.feature-checklist {
  max-width: 816px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
