.features-block-wrapper {
  height: 447px;
  background-image: url(../../assets/images/laptop-landing-3.png);
  background-repeat: no-repeat;
  border-radius: 28px;
  background-size: cover;

  @media only screen and (max-width: 767px) {
    background: none;
    height: auto;
  }
}

.feature-checklist {
  max-width: 816px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.laptop-screen {
  margin: -255px 72px 0;

  @media only screen and (max-width: 767px) {
    display: none;
  }

  img {
    width: 100%;
  }
}
