@import "../../assets/scss/variables.scss";

.footer {
  max-width: 1264px;
  margin: 0 auto;
  border: 1px solid $grey-3;
  padding: 32px;
  border-radius: 32px;
  display: flex;
  gap: 48px;

  .footer-about {
    width: 284px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
      color: $grey-2;
      font-size: 13px;
    }

    h4 {
      color: $default;
      font-weight: 500;
      font-size: 16px;
      margin-top: 16px;
    }
  }

  .footer-col {
    flex: 1;

    h4 {
      color: $default;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 16px;
    }

    ul {
      li {
        list-style: none;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: $grey-2;
          font-size: 12px;
        }
      }
    }
  }
}
