@import "../../assets/scss/variables.scss";

.user-case {
  margin: 100px auto 128px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text {
    color: $grey-2;
    font-size: 16px;

    span {
      color: $purple;
    }
  }
}
