@import "../../assets/scss/variables.scss";

.testimonial-block {
  width: 600px;
  border: 1px solid $grey-3;
  border-radius: 6px;
  padding: 32px;

  .testimonial-msg {
    height: 144px;
    color: $dark;
    font-size: 16px;
    border-bottom: 1px solid $grey-3;
  }

  .testimonial-sender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;

    .user-info {
      display: flex;
      align-items: center;
      gap: 8px;

      .user-dp {
        img {
          width: 32px;
        }
      }

      .user-name {
        color: $grey-2;
        font-size: 14px;
      }
    }
  }
}
