.testimonial-block {
  width: 600px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 6px;
  padding: 32px;

  .testimonial-msg {
    height: 144px;
    color: rgb(34, 34, 34);
    font-size: 16px;
    border-bottom: 1px solid rgb(230, 230, 230);
  }

  .testimonial-sender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;

    .user-info {
      display: flex;
      align-items: center;
      gap: 8px;

      .user-dp {
        img {
          width: 32px;
        }
      }

      .user-name {
        color: rgb(82, 82, 82);
        font-size: 14px;
      }
    }
  }
}
