@import "../../assets/scss/variables.scss";

.description-list {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  h4 {
    font-size: 16px;
    color: $blue;
    font-weight: 600;
    margin: 8px;

    span {
      padding: 0.25rem 0.5rem;
      border-radius: 20px;
      background: $grey-7;
      color: $purple2;
      font-size: 14px;
      margin-left: 16px;
    }
  }

  p {
    font-size: 14px;
    color: $blue2;
  }
  .icon {
    padding-top: 6px;
  }
}
