.section-heading {
  max-width: 556px;
  margin-bottom: 64px !important;

  h3 {
    margin-bottom: 24px;
    padding: 6px 16px;
    border-radius: 8px;
    background: rgb(250, 250, 250);
    border: 2px solid rgb(128, 54, 255);
    color: rgb(128, 54, 255);
    font-size: 13px;
    width: fit-content;
    display: flex;
  }

  h2 {
    margin-bottom: 24px;
    color: rgb(34, 34, 34);
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
  }

  p {
    max-width: 556px;
    color: rgb(82, 82, 82);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }

  &.center {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.sm {
    max-width: 417px;
  }
  &.full {
    width: 100%;
  }
}
