@import "../../assets/scss/variables.scss";

.section-heading {
  max-width: 556px;
  margin-bottom: 64px !important;

  h3 {
    margin-bottom: 24px;
    padding: 6px 16px;
    border-radius: 8px;
    background: $grey-4;
    border: 2px solid $purple;
    color: $purple;
    font-size: 13px;
    width: fit-content;
    display: flex;
  }

  h2 {
    margin-bottom: 24px;
    color: $dark;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
  }

  p {
    max-width: 556px;
    color: $grey-2;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    a {
      color: rgb(96, 4, 255);
      text-decoration: underline rgb(96, 4, 255) !important;
    }
  }

  &.center {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.sm {
    max-width: 417px;
  }
  &.full {
    width: 100%;
  }
}
